<% if (can? :read, Account) && (can? :read, PaymentAddress)%>
  <div class="card card-primary">
    <div class="card-header">
      <span>Account Info</span>
      <span> : </span>
      <span><%= account.currency.code.upcase %></span>
    </div>
    <div class="card-body">
      <dl class="dl-horizontal">
        <%= item_for account, :amount %>
        <%= item_for account, :locked %>
        <%= item_for account, :balance %>
        <% if account.currency.coin? %>
          <%= item_for 'Deposit Address' do %>
            <%= account.payment_address.address %>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
