<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Coinswell Admin</title>

  <%= render 'shared/meta' %>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= custom_stylesheet_link_tag_for :admin %>
  <%= javascript_include_tag 'admin' %>
</head>

<body class="ui-radius" id="<%= body_id %>">


  <div class="dashboard-wrapper">

    <!-- SIDEBAR -->
      <nav class="dashboard-sidebar bg-dark h-100">
        <%= render "layouts/admin_sidebar" %>
      </nav>

    <!-- RIGHT PART -->
    <div class="w-100">
      <div class="bg-body">
        <!-- HEADER -->
        <%= render "layouts/admin_header" %>

        <!-- CONTENT -->
        <div class="p-4">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>

      <!-- FOOTER -->
    </div>
  </div>

  <footer class="dashboard-footer section-white border-top p-4">
    <span>Version: v<%= Peatio::Application::VERSION %></span>
    <span> | Build date: <%= Peatio::Application::BUILD_DATE %></span>
    <span> | Commit: <%= Peatio::Application::GIT_SHA %></span>
  </footer>


</body>
</html>
